/* common shared styles */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
.primary-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

/* header section styles */
header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50%;
    background-position: center;
}
header .header-container {
    color: #FFF;
    text-align: right;
    padding: 150px;
}
.header-title {
    font-size: 50px;
    font-weight: 700;
}
.header-description {
    font-size: 16px;
    font-weight: 400;
}
.btn-primary {
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #FFF;
    padding: 10px;
    border: 0;
}

/* main section styles */
main {
    margin: 0 150px;
}
.main-first-part {
    display: flex;
    align-items: center;
    gap: 150px;
}
.main-part {
    margin-top: 100px;
}
.failure-blog p, .failure-blog li {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}
.popular-list li {
    list-style-image: url('../images/icons/check-1.png');
}
.primary-title {
    text-align: center;
}
.plan-section ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}
.plan-title {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.plan-description {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}