/* common shared styles */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
.primary-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

/* header section styles */
header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50%;
    background-position: center;
}
header .header-container {
    color: #FFF;
    text-align: right;
    padding: 200px 215px 215px 50px;
}
.header-title {
    font-size: 65px;
    font-weight: 700;
}
.header-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.btn-primary {
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #FFF;
    padding: 20px;
    border: 0;
}

/* main section styles */
main {
    margin: 0 215px;
}
.main-first-part {
    display: flex;
    align-items: center;
    gap: 150px;
}
.main-part {
    margin-top: 100px;
}
.failure-blog p, .failure-blog li {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}
.popular-list li {
    list-style-image: url('../images/icons/check-1.png');
}
.primary-title {
    text-align: center;
}
.plan-section ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}
.plan-title {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.plan-description {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}
.call-part {
    margin-bottom: 150px;
    background-image:
    linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%),
    url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 50% 40px 50px;
    border-radius: 8px;
}
.call-part h3 {
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
}
/* .social-column {
    margin-top: 87px;
}
.form-column {
    margin-top: 110px;
} */


/* footer section styles */
.footer-container {
    padding: 70px 215px 90px;
    background-color: #151414;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 20em;
    /* margin-bottom: auto; */
}
.social-column ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    text-align: left;
    padding: 0;
}
.future-title {
    font-size: 45px;
    font-weight: 700;
}
.social-column p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.footer-container h3 {
    margin-top: 0;
    padding-top: 0;
}
/* .social-column {
    margin-top: 0px;
} */
/* .form-column {
    margin-bottom: auto;
} */
.form-column h3 {
    font-size: 25px;
    font-weight: 600;
}
.form-column #email {
    border-radius: 8px;
    border: 1px solid #FFF;
    height: 64px;
    width: 325px;
    margin-bottom: 10px;
    background-color: transparent;
    padding: 0 18px;
    font-size: 18px;
    font-weight: 400;
}
#email::placeholder {
    color: #ffffff;
}
.form-column #submit {
    border-radius: 8px;
    background: #005FAC;
    width: 170.106px;
    height: 64px;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    border: 0;
}
